:host {
  section {
    display: flex;
    justify-content: end;
    margin-top: 1%;
  }

  #input-material-description {
    width: 50vw;
  }

  #input-material-sku{
    width: 10vw;
  }

  #input-material-name{
    width: 40vw;
  }

}
