:host{
    section {
        display: flex;
        justify-content: end;
        margin-top: 1%;
    }

}

.mat-mdc-card-actions {
    justify-content: end;
}

.header-register-position {
    font-size: medium;
}

#input-position, #select-permission{
    width: 30%;
}