:host {
  section {
    display: flex;
    justify-content: end;
    margin-top: 1%;
  }
  form mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  #input-benefit-description {
    width: 40vw;
  }
  .mat-mdc-card-actions {
    justify-content: end;
  }

  .header-register-benefit {
    font-size: medium;
  }

}
