<h2>Pedidos</h2>
<section id="order">
  <div id="instore">
    <mat-card style="margin-bottom: 2%" appearance="outlined">
      <mat-card-header>S-01</mat-card-header>
      <mat-card-content>MESA 10</mat-card-content>
      <mat-card-actions>
        <a mat-raised-button matButton="outlined" routerLink="form">Imprimir</a>
        <a mat-raised-button matButton="filled" routerLink="form">Ver</a>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>P-02</mat-card-header>
      <mat-card-content>asdfasfsa</mat-card-content>
    </mat-card>
  </div>
  <div id="delivery">
    <mat-card style="margin-bottom: 2%" appearance="outlined">
      <mat-card-header>D-01</mat-card-header>
      <mat-card-content>a</mat-card-content>
      <mat-card-actions>
        <a mat-raised-button matButton="outlined" routerLink="form">Imprimir</a>
        <a mat-raised-button matButton="filled" routerLink="form">Ver</a>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>D-02</mat-card-header>
      <mat-card-content>adsfsdf</mat-card-content>
    </mat-card>
  </div>
</section>
<section>
  <mat-card appearance="outlined">
    <mat-card-actions>
      <a mat-raised-button matButton="filled" routerLink="form">Cadastrar</a>
    </mat-card-actions>
  </mat-card>
</section>
