:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13vw;
    height: 100vh;
    background-color: var(--mat-sys-on-primary);   
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 1px black;
}