<h2>Cadastro da movimentação</h2>
<form [formGroup]="inventoryForm">

  <mat-card id="card-form-inventory" appearance="outlined">
    <mat-card-header id="header-form-inventory">
      <mat-card-title id="title-form-inventory"> Item do estoque </mat-card-title>
    </mat-card-header>
    <mat-card-content >
     
      <mat-form-field id="input-form-select-movementtype" appearance="outline">
          <mat-label>Tipo de Operação</mat-label>
          <mat-select formControlName="movementType">
            @for(movemnttype of movenentType; track movemnttype) {
                <mat-option [value]="movemnttype">{{ movementTypesLabels[movemnttype] }}</mat-option>
            }
          </mat-select>
      </mat-form-field>
      <mat-form-field id="input-form-select-movementsource" appearance="outline">
        <mat-label>Tipo de Origem</mat-label>
        <mat-select formControlName="movementSource">
          @for(movemntsource of movenentSource; track movemntsource) {
              <mat-option [value]="movemntsource">{{ movementSourceLabels[movemntsource] }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
            <mat-form-field id="input-form-select-type" appearance="outline">
        <mat-label>Tipo de item</mat-label>
        <mat-select formControlName="type">
          @for(inventoryItem of inventoryItemTypeEnum; track inventoryItem) {
              <mat-option [value]="inventoryItem">{{ inventoryItemTypeLabels[inventoryItem] }}</mat-option>
          }
        </mat-select>
      </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label> Item do estoque </mat-label>
        <input matInput placeholder="Pizza" formControlName="entityName" />
    </mat-form-field>

    <mat-form-field style="width: 10%" appearance="outline">
        <mat-label> Quantidade </mat-label>
        <input type="number" matInput placeholder="10" formControlName="quantity" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions id="button-form-inventory" (click)="addInventory($event)"> 
      <button mat-raised-button matButton="filled" type="submit">Incluir</button>
    </mat-card-actions>
  </mat-card>
</form>

@defer(when listInventory().length > 0){
<mat-card appearance="outlined">
    <mat-card-header>
    <mat-card-subtitle class="header-register">Lista de materias</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="overflow-y: auto;">
    <mat-list>
        @for(inventory of listInventory(); track inventory) {
        <mat-list-item
        >Item: {{ inventory.entityName }}: {{inventory.quantity}} und - Movimentação: {{ inventory.movementType }}
        <button matIconButton (click)="excludeInventory($event, inventory)" matListItemMeta>
            <mat-icon>delete</mat-icon>
        </button>
        </mat-list-item>
        }
    </mat-list>
    </mat-card-content>
</mat-card>
}

<section class="button-redirect-registre">
      <button mat-raised-button matButton="outlined" type="submit" (click)="goBack()">
        Voltar
      </button>
      <button mat-raised-button matButton="filled" type="submit">Salvar</button>
  </section>