.mat-mdc-card-content {
    display: flex;
}

.mat-mdc-card-content mat-form-field + mat-form-field{
    margin-left: 1%;
}

#select-user{
    width: 30%;
}

.mat-mdc-card-actions {
    justify-content: end;
}

.header-register-user {
    font-size: medium;
}