:host {
  section {
    display: flex;
    justify-content: end;
    margin-top: 1%;
  }
  form mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .mat-mdc-card + .mat-mdc-card {
    margin-bottom: 5px;
  }

  #input-employee-name, #input-employee-email, #input-employee-address-street {
    width: 40vw;
  }

  #input-employee-address-number{
    width: 8vw;
  }

  .mat-mdc-card-actions {
    justify-content: end;
  }

  .header-register-employee {
    font-size: medium;
  }

}
