:host {
  section {
    display: flex;
    justify-content: end;
    margin-top: 1%;
  }
  form mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  #button-search-material {
    justify-content: end;
  }

  #card-search-material {
    margin-bottom: 1%;
  }

  .button-redirect-search-material {
  }
}
