:host {
  section {
    display: flex;
    justify-content: end;
    margin-top: 1%;
  }

  #button-search-material {
    justify-content: end;
  }

  #card-search-material {
    margin-bottom: 1%;
  }

}
