:host{
    section {
        display: flex;
        justify-content: end;
        margin-top: 1%;
    }

}

#card-search-position{
    margin-bottom: 1%;
}

#title-search-position{
    font-size: medium;
}

#button-search-position{
    justify-content: end;
}

#input-search-position{
    width: 30vw;
}